#page-header {
	position: relative;
	z-index: 999;
	padding: 40px 0 0;
	@media @sm {
		padding: 20px 0 0;
	}
}
#col-main {
	width: 740px;
	float: left;
	margin: 0 0 25px;
	@media @md {
		width: 640px;
	}
	@media @sm, @xs, @xxs {
		width: auto;
		float: none;
	}
	@media @xs, @xxs {
		.menu-on & {
			margin: 0;
		}
	}
}
#col-right {
	position: relative;
	width: 320px;
	padding: 0 0 0 55px;
	margin: 0 0 25px;
	float: right;
	@media @lg {
		&:before, &:after {
			content: '';
			position: absolute;
			height: 58%;
			top: 0;
			left: 0;
			width: 200px;
			background: -moz-radial-gradient(center, ellipse cover, rgba(0,68,131,0.1) 0%, rgba(0,68,131,0) 75%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(0,68,131,0.1) 0%,rgba(0,68,131,0) 75%);
			background: radial-gradient(ellipse at center, rgba(0,68,131,0.1) 0%,rgba(0,68,131,0) 75%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a004483', endColorstr='#00004483',GradientType=1 );
			background-repeat: no-repeat;
			background-position: -100px 0;
		}
		&:after {
			content: '';
			width: 14px;
			background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
			background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
			background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 );
			background-repeat: no-repeat;
			background-position: -7px 0;
		}
	}
	@media @md {
		width: 260px;
		padding: 0 0 0 20px;
	}
	@media @sm, @xs, @xxs {
		width: auto;
		float: none;
		padding: 0;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#page-footer {
	padding: 35px 0;
	@media @xs, @xxs {
		border-top: 1px solid @c2;
		.menu-on & {
			display: none;
		}
	}
}
#wrapper {
	padding:  100px 0 0;
	margin: 18px 0 0;
	background: url(../images/bg/03.png) no-repeat top;
	-webkit-background-size: 100% 90px;
	background-size: 100% 90px;
	@media @xs, @xxs {
		padding-top: 0;
		background: none;
		.menu-on & {
			display: none;
		}
	}
}
#content {
	figure {
		margin: 0 0 20px;
		img {
			.border-radius(6px);
			display: block;
		}
	}
}
.header_logo { 
	.fp;
	float: left;
	width: 260px;
	font-style: italic;
	color: @c1;
	font-size: 13px;
	line-height: 1.4;
	font-weight: normal;
	text-transform: none;
	@media @sm, @xs, @xxs {
		float: none;
		margin: 0 auto 20px;
	}
	a { 
		img { 
			display: block;
			margin: 0 0 18px;
		}
	}
}
.menu_category-header { 
	margin: 4px 0 0 325px;
	@media @md {
		margin-top: 30px;
	}
	@media @sm {
		margin: 0;
		text-align: center;
	}
	@media @xs, @xxs {
		display: none;
	}
	ul { 
		.rlist;
		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 26px 30px 0;
			a {
				.fh;
				.border-radius(32px);
				.transition(0.2s);
				display: block;
				color: #fff;
				height: 63px;
				line-height: 63px;
				font-size: 29px;
				letter-spacing: 0.1em;
				padding: 0 44px 0 100px;
				text-decoration: none;
				text-transform: uppercase;
				background: fade(@c2,50);
				&:before {
					.fi;
					.border-radius(50%);
					.box-shadow(2px 1px 0 fade(#000,20));
					content: '\e80a';
					position: absolute;
					top: 50%;
					left: 0;
					width: 70px;
					height: 70px;
					line-height: 70px;
					margin: -35px 0 0;
					font-size: 43px;
					font-weight: normal;
					text-align: center;
					background: @c2;
				}
			}
			&.item_01 { 
				a { 
					background: fade(@c3,50);
					&:before {
						content: '\e81a';
						background: @c3;
					}
					&:hover{
						background: @c3;
					}
				}
			}
			&.item_02 { 
				a { 
					background: fade(@c4,50);
					&:before {
						content: '\e81b';
						background: @c4;
					}
					&:hover{
						background: @c4;
					}
				}
			}
		}
	}
}
.toggle_menu {
	display: none;
	width: 100%;
	background: none;
	color: @c2;
	font-size: 50px;
	font-size: 0;
	height: 80px;
	line-height: 80px;
	margin: 0 0 20px;
	@media @xs, @xxs {
		display: block;
	}
	&:before {
		.fi;
		content: '\f0c9';
		font-size: 56px;
		.menu-on & {
			content: '\e81e';
			color: @c3;
		}
	}
	&:hover{
		background: none;
	}
}
.menu_main { 
	margin: 0 0 0 325px;
	@media @md, @sm, @xs, @xxs {
		clear: both;
		margin: 0;
	}
	@media @xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	&>ul { 
		.rlist;
		display: table;
		width: 100%;
		@media @xs, @xxs {
			display: block;
			width: auto;
			margin: 0 -20px;
		}
		&>li { 
			display: table-cell;
			vertical-align: middle;
			padding: 0 20px 0 0;
			@media @xs, @xxs {
				display: block;
				padding: 0;
				border-top: 1px solid @c2;
			}
			&>a { 
				.fh;
				display: block;
				padding: 3px 0 22px 0;
				font-size: 17px;
				letter-spacing: 0.1em;
				font-weight: 600;
				text-transform: uppercase;
				text-decoration: none;
				@media @xs, @xxs {
					padding: 20px;
				}
				&:hover{
					color: @c3;
				}
			}
			@media @lg, @md, @sm {
				&.search { 
					text-align: right;
					padding-right: 0;
					&>a { 
						font-size: 0;
						&:before {
							.fi;
							.border-radius(50%);
							.transition(0.2s);
							content: '\e80c';
							display: inline-block;
							vertical-align: middle;
							font-size: 20px;
							width: 36px;
							height: 36px;
							line-height: 36px;
							color: #fff;
							font-weight: normal;
							text-align: center;
							background: @c5;
						}
						&:hover{
							&:before {
								background: @c3;
							}
						}
					}
				}
			}
			&.on {
				&>a {
					color: @c3;
				}
			}
			&>ul {
				.rlist;
				.box-shadow(inset 0 3px 3px fade(#000,10));
				.border-radius(0 0 30px 0);
				position: absolute;
				display: none;
				padding: 38px 30px 25px;
				left: -20px;
				width: 230px;
				background: #bbe4f9;
				@media @xs, @xxs {
					.border-radius(0);
					position: static;
					display: block;
					padding: 20px;
					width: auto;
				}
				&:before {
					.border-radius(0 0 17px 17px);
					content: '';
					position: absolute;
					left: 20px;
					top: 0;
					width: 34px;
					height: 17px;
					background: #fff;
				}
				&>li {
					font-size: 13px;
					line-height: 1.2;
					padding: 0 0 0 16px;
					margin: 0 0 15px;
					@media @xs, @xxs {
						display: inline-block;
						margin: 5px 20px 5px 0;
					}
					&:before {
						content: '\e81c';
						color: @c2;
						font-size: 16px;
						line-height: 1;
						top: 0;
					}
					&>a {
						text-decoration: none;
						font-weight: bold;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			&:hover{
				&>ul {
					display: block;
				}
			}
		}
	}
}
.header_slideshow { 
	position: relative;
	overflow: hidden;
	margin: 0 0 80px;
	@media @lg, @md, @sm  {
		&:before, &:after {
			z-index: 101;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 23%;
			background: url(../images/bg/01.png) no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
		}
		&:after {
			top: auto;
			bottom: 0;
			background-image: url(../images/bg/02.png);
		}
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.items { 
		position: relative;
		@media @xs, @xxs {
			background: #f1f1f1;
		}
		.item { 
			display: none;
			width: 100%;
			@media @xs, @xxs {
				padding: 0 20px 60px;
			}
			&:nth-child(1) {
				display: block;
			}
			figure { 
				@media @xs, @xxs {
					margin: 0 -20px 20px;
				}
				img { 
					display: block;
					min-width: 100%;
					margin: auto;
				}
			}
			@media @lg, @md, @sm {
				.inner {
					position: absolute;
					top: 50%;
					left: 50%;
					height: 0;
					overflow: visible;
					.content { 
						position: relative;
						display: table-cell;
						vertical-align: middle;
						color: #fff;
						padding: 0 0 50px;
						height: 1000px;
						top: -500px;
						left: -(@content-width/2-20);
						width: @content-width/2-180;
						text-shadow: 2px 2px 1px fade(#000,50);
						@media (max-width:1400px) {
							font-size: 1.3vw;
						}
						@media @md  {
							left: -(@content-width-md/2-20);
							width: @content-width-md;
							padding: 0;
						}
						@media @sm  {
							left: -(@content-width-sm/2-20);
							width: @content-width-sm;
							padding: 0;
						}
						.title { 
							.fh;
							font-size: 1.7vw;
							line-height: 1.2;
							color: @c2;
							font-weight: 700;
							text-transform: uppercase;
							margin: 0 0 20px;
							text-shadow: 1px 1px 0px fade(#fff,30);
							@media (max-width:1400px) {
								margin: 5px 0;
								
							}
							@media @sm {
								font-size: 2vw;
							}
						}
						.subtitle { 
							.fh;
							font-size: 1.7vw;
							line-height: 1.2;
							color: @c4;
							font-weight: 600;
							margin: 0 0 30px;
							text-shadow: 1px 1px 0px fade(#fff,30);
							@media (max-width:1400px) {
								margin: 5px 0;
							}
							@media @sm {
								font-size: 2vw;
							}
						}
						p {
							@media (max-width:1400px) {
								margin: 5px 0;
							}
							@media @sm, @xs, @xxs {
								display: none;
							}
						}
					}
				}
				&.cycle-slide {
					.inner {
						.content { 
							.title { 
								position: relative;
								.transition(1s);
								left: -400px;
							}
							.subtitle {
								position: relative;
								.transition(1s);
								left: -200px;
							}
							p {
								position: relative;
								.transition(1s);
								left: -50px;
							}
						}
					}
					&.cycle-slide-active {
						.inner {
							.content { 
								.title { 
									left: 0px;
								}
								.subtitle {
									left: 0px;
								}
								p {
									left: 0;
								}
							}
						}
					}
				}
			}
			@media @xs, @xxs {
				font-size: 14px;
				.title { 
					font-size: 20px;
					color: @c2;
					text-transform: uppercase;
				}
				.subtitle {
					font-size: 20px;
					color: @c3;
				}
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 102;
		left: 4%;
		top: 50%;
		height: 100px;
		line-height: 100px;
		margin: -50px 0 0;
		font-size: 0;
		text-decoration: none;
		color: #fff;
		text-shadow: 2px 2px 0 fade(#000,30);
		@media (max-width:1400px) {
			left: 1%;
		}
		@media @xs, @xxs {
			display: none;
		}
		&:before {
			.fi;
			content: '\e818';
			font-size: 100px;
		}
	}
	.next {
		left: auto;
		right: 4%;
		@media (max-width:1400px) {
			left: auto;
			right: 1%;
		}
		&:before {
			content: '\e817';
		}
	}
	.pager {
		font-family: monotype;
		position: absolute;
		z-index: 102;
		left: 50%;
		bottom: 15%;
		margin-left: -(@content-width/2-20);
		@media @md, @sm {
			display: none;
		}
		@media @xs, @xxs {
			margin-left: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
		}
		span {
			font-size: 46px;
			line-height: 1;
			color: #fff;
			cursor: pointer;
			margin: 0 4px 0 0;
			text-shadow: 2px 2px 0 fade(#000,30);
			&.cycle-pager-active {
				color: @c3;
			}
		}
	}
}
.box_news-main { 
	margin: 0 0 53px;
	.items { 
		.item { 
			.clearfix;
			@media @lg, @md, @sm {
				figure { 
					position: relative;
					float: left;
					width: 40%;
					overflow: hidden;
					padding: 17px 25px 0 40px;
					&:before {
						.border-radius(50%);
						.rotate(-16deg);
						.box-shadow(inset 0 0 12px fade(#000,30));
						content: '';
						position: absolute;
						top: -174px;
						left: -165px;
						right: -180px;
						bottom: -190px;
						border: 200px solid #fff;
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 6px;
						background: url(../images/bg/04.png) no-repeat center;
						-webkit-background-size: 100% 100%;
						background-size: 100% 100%;
					}
					a { 
						&:before {
							.border-radius(50%);
							.rotate(-16deg);
							content: '';
							position: absolute;
							z-index: 1;
							top: 25px;
							right: 20px;
							bottom: 10px;
							left: 35px;
						}
						img { 
							display: block;
						}
					}
				}
			}
			.content { 
				float: left;
				width: 60%;
				line-height: 1.65;
				padding: 15px 0 0 55px;
				@media @md {
					padding-left: 30px;
				}
				@media @sm {
					padding-left: 25px;
				}
				@media @xs, @xxs {
					width: auto;
					float: none;
					padding: 10px 0;
				}
			}
		}
	}
}
.box_news-main, .box_news { 
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.items { 
		.item {
			.content { 
				.category { 
					float: right;
					margin: 9px 0 9px 20px;
					@media @xs, @xxs {
						float: none;
						margin: 0 0 15px;
					}
					a {
						.fh;
						.border-radius(32px);
						.transition(0.2s);
						position: relative;
						display: block;
						color: #fff;
						height: 32px;
						line-height: 32px;
						font-size: 14px;
						letter-spacing: 0.1em;
						padding: 0 15px 0 45px;
						text-decoration: none;
						text-transform: uppercase;
						background: fade(@c2,50);
						&:before {
							.fi;
							.border-radius(50%);
							.box-shadow(2px 1px 0 fade(#000,20));
							content: '\e80a';
							position: absolute;
							top: 50%;
							left: 0;
							width: 40px;
							height: 40px;
							line-height: 40px;
							margin: -20px 0 0;
							font-size: 24px;
							font-weight: normal;
							text-align: center;
							background: @c2;
						}
					}
				}
				.title { 
					.fh;
					font-size: 24px;
					line-height: 1.2;
					margin: 0 0 24px;
					a { 
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.more { 
					line-height: 1.2;
					font-size: 14px;
					a { 
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						&:before {
							.fi;
							display: inline-block;
							vertical-align: middle;
							text-decoration: none;
							content: '\e80e';
							margin: -2px 5px 0 0;
							font-size: 11px;
							color: @c5;
						}
					}
				}
			}
			&.item_01 { 
				.content { 
					.category { 
						a { 
							background: fade(@c3,50);
							&:before {
								content: '\e81a';
								background: @c3;
							}
							&:hover{
								background: @c3;
							}
						}
					}
					.title {
						a {
							color: @c3;
						}
					}
				}
			}
			&.item_02 { 
				.content { 
					.category {
						a { 
							background: fade(@c4,50);
							&:before {
								content: '\e81b';
								background: @c4;
							}
							&:hover{
								background: @c4;
							}
						}
					}
					.title {
						a {
							color: @c4;
						}
					}
				}
			}
		}
	}
}
.box_news { 
	margin: 40px 0 60px;
	&>.title {
		.fh;
		text-transform: uppercase;
		color: @c3;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 0 50px;
	}
	.items { 
		.item { 
			.clearfix;
			padding: 0 0 0 30px;
			margin: 0 0 60px;
			@media @xs, @xxs {
				padding: 0;
			}
			figure { 
				position: relative;
				float: left;
				width: 34%;
				overflow: hidden;
				@media @lg, @md, @sm {
					&:before {
						.border-radius(50%);
						.rotate(-16deg);
						.box-shadow(inset 0 0 12px fade(#000,30));
						content: '';
						position: absolute;
						top: -95px;
						left: -103px;
						right: -100px;
						bottom: -95px;
						border: 100px solid #fff;
					}
					a { 
						&:before {
							.border-radius(50%);
							.rotate(-16deg);
							content: '';
							position: absolute;
							z-index: 1;
							top: 5px;
							right: 0;
							bottom: 5px;
							left: 0px;
						}
						img { 
							display: block;
						}
					}
				}
				@media (max-width: 560px) {
					float: none;
					width: auto;
				}
			}
			.content { 
				float: left;
				width: 66%;
				font-size: 15px;
				line-height: 1.8;
				padding: 0 0 0 45px;
				@media @md {
					padding-left: 20px;
				}
				@media @xs, @xxs {
					padding-left: 20px;
					line-height: 1.5;
				}
				@media (max-width: 560px) {
					float: none;
					width: auto;
					padding-left: 0;
				}
				.category { 
					margin: 5px 0 5px 20px;
					a { 
					}
				}
				.title { 
					font-size: 18px;
					margin: 0 0 20px;
					text-transform: uppercase;
				}
			}
		}
	}
	.archive { 
		text-align: right;
		margin: -14px 0 20px;
		a { 
			.fh;
			display: inline-block;
			text-transform: uppercase;
			font-weight: 600;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:after {
				.fi;
				font-weight: normal;
				display: inline-block;
				vertical-align: middle;
				content: '\e80f';
				font-size: 26px;
				margin: 0 0 0 23px;
			}
		}
	}
}
.box_video { 
	padding: 0 0 15px;
	margin: 0 0 45px;
	border-bottom: 2px solid lighten(fade(@c2,30),20);
	.title { 
		.fh;
		color: @c2;
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 21px;
		margin: 0 0 20px;
		font-weight: 600;
	}
	figure { 
		margin: 0 0 35px;
		a { 
			position: relative;
			display: block;
			text-decoration: none;
			&:before {
				.fi;
				content: '\e80d';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 80px;
				margin: -50px 0 0 -50px;
				color: #fff;
				text-shadow: 2px 2px 2px fade(#000,50);
				text-align: center;
			}
			img { 
				display: block;
				.border-radius(6px);
			}
		}
	}
}
.box_video, .box_competition {
	@media @sm, @xs {
		display: inline-block;
		vertical-align: top;
		padding: 0 40px;
		width: 50%;
		margin-right: -4px;
		border-bottom: none;
	}
	@media @xs {
		padding: 0 10px;
	}
	.title {
		@media @sm, @xs {
			min-height: 50px;
			margin: 0 0 20px;
		}
	}
 	.more { 
 		margin: 0 0 35px;
 		a {
 			.fh;
 			.border-radius(32px);
 			.transition(0.2s);
 			position: relative;
 			display: inline-block;
 			color: #fff;
 			line-height: 1.1;
 			font-size: 14px;
 			letter-spacing: 0.1em;
 			padding: 12px 20px 13px 56px;
 			font-weight: 600;
 			text-decoration: none;
 			text-transform: uppercase;
 			background: fade(@c2,50);
 			&:hover{
 				background: @c2;
 			}
 			&:before {
 				.fi;
 				.border-radius(50%);
 				.box-shadow(2px 1px 0 fade(#000,20));
 				content: '\e80e';
 				position: absolute;
 				font-weight: normal;
 				top: 50%;
 				left: 0;
 				width: 46px;
 				height: 46px;
 				line-height: 46px;
 				margin: -23px 0 0;
 				padding: 0 0 0 5px;
 				font-size: 20px;
 				font-weight: normal;
 				text-align: center;
 				background: @c2;
 			}
 		}
 	}
 }
.box_competition { 
	font-size: 15px;
	line-height: 1.8;
	margin: 0 0 45px;
	.title { 
		.fh;
		color: @c2;
		text-transform: uppercase;
		line-height: 1.2;
		font-size: 21px;
		font-weight: 600;
		margin: 0 0 35px;
		small { 
			text-transform: none;
			font-size: 19px;
		}
	}
	figure { 
		margin: 0 0 20px;
		a { 
			img { 
				.border-radius(6px);
				display: block;
			}
		}
	}
	p { 
		margin: 0 0 24px;
		mark { 
			color: @c5;
			font-weight: bold;
		}
	}
	.more { 
		margin: 0 0 35px;
		a {
			background: fade(@c5,60);
			&:hover{
				background: @c5;
			}
			&:before {
				content: '\e819';
				background: @c5;
				padding: 0;
				font-size: 23px;
			}
		}
	}
}
.menu_category { 
	position: relative;
	overflow: hidden;
	@media @xs, @xxs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 10px;
		margin: 0 0 0 -5px;
		background: #fff;
		@media @xs, @xxs {
			display: none;
		}
	}
	.container { 
		.items { 
			text-align: center;
			@media @xs, @xxs {
				text-align: left;
				margin: 0 -20px;
			}
			.item { 
				@media @lg, @md, @sm {
					display: inline-block;
					width: 50%;
					vertical-align: top;
					margin: 0 -2px;
					padding: 56px 90px 53px;
					text-align: left;
					background: @c2;
				}
				@media @md {
					padding: 40px;
				}
				@media @sm {
					padding: 30px;
				}
				@media @xs, @xxs {
					padding: 20px;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					bottom: 0;
					width: 999em;
					background: @c2;
					@media @xs, @xxs {
						display: none;
					}
				}
				&:nth-child(odd) {
					@media @lg, @md, @sm {
						text-align: right;
						&:before {
							top: 0;
							left: auto;
							right: 50%;
						}
						.title {
							a {
								padding: 0 65px 0 20px;
								&:before {
									left: auto;
									right: 0;
								}
							}
						}
					}
				}
				.title { 
					margin: 0 -3px 35px;
					a {
						.fh;
						.border-radius(32px);
						.transition(0.2s);
						position: relative;
						display: inline-block;
						color: #fff;
						height: 50px;
						line-height: 50px;
						font-size: 22px;
						padding: 0 20px 0 65px;
						font-weight: 600;
						text-decoration: none;
						text-transform: uppercase;
						background: fade(@c5,80);
						@media @xs, @xxs {
							display: block;
						}
						&:hover{
							background: @c5;
						}
						&:before {
							.fi;
							.border-radius(50%);
							.box-shadow(2px 1px 0 fade(#000,20));
							content: '\e80a';
							position: absolute;
							font-weight: normal;
							top: 50%;
							left: 0;
							width: 58px;
							height: 58px;
							line-height: 58px;
							margin: -29px 0 0;
							font-size: 35px;
							font-weight: normal;
							text-align: center;
							background: @c5;
						}
					}
				}
				ul { 
					.rlist;
					li { 
						line-height: 1.2;
						font-size: 15px;
						margin: 0 0 13px;
						@media @xs, @xxs {
							margin: 0 -20px;
							border-top: 1px solid fade(#fff,50);
						}
						a { 
							color: #fff;
							@media @xs, @xxs {
								.fh;
								display: block;
								padding: 12px 20px;
								text-decoration: none;
								font-size: 19px;
							}
						}
					}
				}
				&.item_01 {
					background: @c3;
					&:before {
						background: @c3;
					}
					.title {
						a {
							background: lighten(@c3,10);
							&:hover{
								background: lighten(@c3,20);
							}
							&:before {
								content: '\e81a';
								background: lighten(@c3,10);
							}
						}
					}
				}
				&.item_02 {
					background: @c4;
					&:before {
						background: @c4;
					}
					.title {
						a {
							background: lighten(@c4,10);
							&:hover{
								background: lighten(@c4,20);
							}
							&:before {
								content: '\e81b';
								background: lighten(@c4,10);
							}
						}
					}
				}
			}
		}
	}
}
.box_footer-content { 
	float: left;
	width: 50%;
	padding: 0 90px 0 0;
	font-size: 12px;
	line-height: 1.8;
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		padding: 0;
		text-align: center;
	}
	.title { 
		margin: 0 0 30px;
		img {
		max-width: 180px; 
		margin: auto;
		display: block;
		}
	}
	p { 
		a { 
		}
	}
}
.box_footer-copy { 
	float: left;
	width: 50%;
	font-size: 15px;
	margin: 18px 0 7px;
	text-align: right;
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		text-align: center;
	}
	a {
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.menu_footer { 
	float: left;
	width: 50%;
	text-align: right;
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
		text-align: center;
	}
	ul { 
		.rlist;
		li { 
			display: inline-block;
			text-transform: uppercase;
			font-size: 15px;
			line-height: 1.2;
			margin: 0 0 5px;
			&:after {
				content: '|';
				color: @c5;
				margin: 0 1px 0 4px;
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
			a { 
				.fh;
				color: @c5;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.breadcrumbs {
	margin: 0 0 22px;
	@media @xs, @xxs {
		display: none;
	}
	ul {
		.rlist;
		li {
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			line-height: 1.2;
			color: @c3;
			font-weight: bold;
			margin: 0 10px 0 0;
			&:before {
				.fi;
				content: '\e81c';
				position: static;
				display: inline-block;
				vertical-align: middle;
				font-size: 20px;
				color: @c2;
				margin: 0 12px 0 0;
			}
			a {
				color: @c1;
				text-decoration: none;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
			&.home {
				font-size: 0;
				font-weight: normal;
				&:before {
					display: none;
				}
				a {
					color: @c2;
					&:hover{
						color: @c3;
					}
					&:before {
						.fi;
						content: '\e816';
						display: inline-block;
						vertical-align: middle;
						font-size: 18px;
					}
				}
			}
		}
	}
}
.box_rating { 
	position: relative;
	margin: 40px 0;
	padding: 17px 0;
	line-height: 1.2;
	border-top: 1px dashed #dcdbda;
	border-bottom: 1px dashed #dcdbda;
	.title { 
		.fh;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		margin: 0 -5px 0 0;
		padding: 0 0 0 60px;
		font-size: 13px;
		margin: 0;
		@media @xs, @xxs {
			display: block;
			margin: 0;
			width: auto;
		}
		&:before, &:after {
			.fi;
			.border-radius(50%);
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 46px;
			height: 46px;
			text-align: center;
			font-weight: normal;
			margin: -23px 0 0 0;
			background: @c3;
		}
		&:after {
			content: '\e814';
			width: 26px;
			height: 26px;
			line-height: 26px;
			margin: -13px 0 0;
			left: 10px;
			font-size: 18px;
			color: @c3;
			background: #fff;
		}
		mark { 
			.fh;
			display: block;
			color: @c3;
			font-size: 19px;
			margin: 0 0 2px;
		}
	}
	.stars { 
		display: inline-block;
		vertical-align: middle;
		margin: 0 -5px 0 0;
		width: 28%;
		text-align: right;
		font-size: 22px;
		color: #ffae00;
		@media @xs, @xxs {
			display: block;
			margin: 0;
			width: auto;
			text-align: left;
			padding: 0 0 0 60px;
		}
		[class*="icon-"] { 
			margin: 0 -3px 0 -3px;
			&:before {
				margin: 0;
			}
		}
	}
	.result { 
		display: inline-block;
		margin: 0 -5px 0 0;
		vertical-align: middle;
		width: 22%;
		text-align: right;
		font-size: 13px;
		@media @xs, @xxs {
			display: block;
			margin: 0;
			width: auto;
			text-align: left;
			padding: 0 0 0 60px;
		}
	}
}
.navigation {
	.clearfix;
	margin: 20px 0;
	.prev, .next {
		position: relative;
		float: left;
		text-decoration: none;
		font-size: 14px;
		padding: 0 0 0 18px;
		&:hover{
			text-decoration: underline;
		}
		&:before {
			.fi;
			content: '\e81d';
			position: absolute;
			display: inline-block;
			line-height: 1;
			left: 0;
			top: 50%;
			font-size: 22px;
			margin: -11px 0 0;
			font-weight: bold;
		}
	}
	.next {
		float: right;
		padding:  0 18px 0 0;
		&:before {
			content: '\e81c';
			left: auto;
			right: 0;
		}
	}
}
.box_competition-head { 
	.clearfix;
	margin: 55px 0 15px;
	.content { 
		float: left;
		width: 50%;
		padding: 10px 40px 10px 0;
		line-height: 1.8;
		@media (max-width: 640px) {
			float: none;
			width: auto;
			padding-right: 0;
		}
		mark {
			color: @c5;
		}
	}
	figure { 
		position: relative;
		float: right;
		width: 50%;
		padding: 0 0 0 10px;
		overflow: hidden;
		@media (max-width: 640px) {
			float: none;
			width: auto;
			max-width: 360px;
		}
		&:before {
			.border-radius(50%);
			.rotate(-16deg);
			.box-shadow(inset 0 0 12px fade(#000,30));
			content: '';
			position: absolute;
			top: -190px;
			left: -190px;
			right: -200px;
			bottom: -190px;
			border: 200px solid #fff;
		}
		&:after {
			.fi;
			.border-radius(50%);
			.box-shadow(1px 1px 2px fade(#000,30));
			content: '\e819';
			position: absolute;
			top: 0;
			left: 10px;
			width: 96px;
			height: 96px;
			line-height: 96px;
			font-size: 46px;
			text-align: center;
			color: #fff;
			background: @c5;
		}
		span { 
			img { 
			}
		}
	}
}
.box_competition-questions { 
	margin: 0 0 57px;
	.title { 
		.fh;
		text-transform: uppercase;
		color: @c3;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 0 32px;
	}
	.form-group { 
		margin: 0 0 14px;
		label { 
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin: 0 -5px 0 0;
			padding: 0 20px 0 0;
			font-size: 15px;
			line-height: 1.2;
			@media (max-width: 640px) {
				display: block;
				margin: 0;
				width: auto;
				margin: 0 0 5px;
			}
		}
		.select_wrap {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			@media (max-width: 640px) {
				display: block;
				width: auto;
			}
		}
	}
}
.box_competition-contact { 
	margin: 50px 0;
	.title { 
		.fh;
		text-transform: uppercase;
		color: @c2;
		font-weight: 700;
		font-size: 21px;
		line-height: 1.2;
		margin: 0 0 30px;
	}
	.form { 
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0 -5px 0 0;
		@media @xs, @xxs {
			display: block;
			width: auto;
			margin: 0;
		}
		.form-group { 
			margin: 0 0 14px;
			label { 
				display: inline-block;
				vertical-align: middle;
				width: 40%;
				margin: 0 -5px 0 0;
				padding: 0 20px 0 0;
				font-size: 15px;
				line-height: 1.2;
				@media (max-width: 640px) {
					display: block;
					width: auto;
					margin: 0 0 5px;
				}
			}
			input, .select_wrap {
				display: inline-block;
				vertical-align: middle;
				width: 60%;
				@media (max-width: 640px) {
					display: block;
					width: 100%;
				}
			}
		}
	}
	.content { 
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 0 0 60px;
		font-size: 15px;
		@media @xs, @xxs {
			display: block;
			width: auto;
			padding: 0;
		}
		mark {
			color: @c5;
		}
	}
	.form-checkbox { 
		margin: 20px 0;
		label { 
			display: inline-block;
			vertical-align: top;
			margin: 0 -5px 0 0;
			width: 20%;
			font-size: 15px;
			line-height: 1.2;
			@media (max-width: 640px) {
				width: auto;
				display: block;
				margin: 0 0 5px;
			}
		}
		.label-checkbox { 
			position: relative;
			display: inline-block;
			width: 80%;
			padding: 0 0 0 30px;
			font-size: 13px;
			@media (max-width: 640px) {
				width: auto;
			}
		}
		.checkbox_wrap {
			position: absolute;
			left: 0;
			top: 0;
			.checkbox_btn {
				font-size: 18px;
			}
		}
	}
	.form-submit { 
		position: relative;
		margin: 46px 0;
		padding: 10px 0;
		text-align: right;
		overflow: hidden;
		button { 
			.border-radius(24px);
			.fh;
			position: relative;
			height: 48px;
			line-height: 48px;
			font-size: 22px;
			padding: 0 36px 0 80px;
			text-transform: uppercase;
			background: fade(@c5,60);
			&:hover{
				background: @c5;
			}
			&:before {
				.fi;
				.border-radius(50%);
				.box-shadow(1px 1px 2px fade(#000,30));
				content: '\e812';
				position: absolute;
				top: 50%;
				left: 0;
				width: 58px;
				height: 58px;
				line-height: 58px;
				margin: -29px 0 0;
				background: @c5;
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				height: 1px;
				width: 999em;
				background: #ddd;
				margin: 0 45px 0 0;
				cursor: default;
			}
		}
	}
}