
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-play-circled2:before { content: '\e80d'; } /* '' */
.icon-play:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-down-big:before { content: '\e810'; } /* '' */
.icon-left-big:before { content: '\e811'; } /* '' */
.icon-right-big:before { content: '\e812'; } /* '' */
.icon-up-big:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-star-empty:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-arr-thin-right:before { content: '\e817'; } /* '' */
.icon-arr-thin-left:before { content: '\e818'; } /* '' */
.icon-cup:before { content: '\e819'; } /* '' */
.icon-child:before { content: '\e81a'; } /* '' */
.icon-adult:before { content: '\e81b'; } /* '' */
.icon-arr-right:before { content: '\e81c'; } /* '' */
.icon-arr-left:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */